<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Logger Type="File">
    <Parameters>
      <Filename>c:\temp\xmltv.log</Filename>
    </Parameters>
  </Logger>
  <HaltOnGrabberError>false</HaltOnGrabberError>
  <TranslatorCache Type="File" OutputFile="TranslationCache.txt"/>
  <Output>
    <Path>c:\temp\xmltv.xml</Path>
  </Output>
  <Grabbers>
    <!--<Grabber path="telegraph.co.uk.dll" channelPrefix="telegraph.co.uk_">
      <Parameters>
        <StartDate>0</StartDate>
        <EndDate>2</EndDate>
      </Parameters>
    </Grabber>-->
    <!--<Grabber path="streamingtvguides.com.dll" channelPrefix="streamingtvguides.com_">
      <Parameters>
        <Channels>
          <Channel>fs1</Channel>
          <Channel>fs2</Channel>
          <Channel>cnn</Channel>
          <Channel>cnni</Channel>          
          <Channel>nbcsn</Channel>
          <Channel>msnbc</Channel>
          <Channel>espn</Channel>
          <Channel>espn2</Channel>
          <Channel>ngwild</Channel>
          <Channel>ngc</Channel>
          <Channel>science</Channel>
          <Channel>vh1</Channel>
          <Channel>nbatv</Channel>
          <Channel>dsc</Channel>
          <Channel>cbssn</Channel>
        </Channels>
      </Parameters>
    </Grabber>-->
    <!--<Grabber path="beinsports.net.dll" channelPrefix="beinsports.net_">	
      <Parameters>        
        <StartDate>0</StartDate>
        <EndDate>2</EndDate>        
      </Parameters>  
    </Grabber>-->
    <!--  <Grabber path="CyfraPlus.dll" channelPrefix="cyfra+">
	<Translate From="Polish" To="English" MaxDegreeOfParallelism="8" YandexAPIKeysFilePath="yandexApiKeys.txt"/>
      <Parameters>        
        <StartDate>0</StartDate>
        <EndDate>4</EndDate>        
      </Parameters>  
    </Grabber>-->
    <!--<Grabber path="CyfrowyPolsat.pl.dll" channelPrefix="CyfrowyPolsat_">
      <Translate From="Polish" To="English" MaxDegreeOfParallelism="4" YandexAPIKeysFilePath="yandexApiKeys.txt"/>
      <Parameters>
        <Channels>
          <Channel>press-tv</Channel>
          <Channel>al-jazeera-hd</Channel>
          <Channel>france-24-en-hd</Channel>
          <Channel>sky-news</Channel>
          <Channel>euronews-hd</Channel>
          <Channel>cnbc</Channel>
          <Channel>cnn</Channel>
          <Channel>bloomberg_(ang.)</Channel>
          <Channel>rt-doc-hd</Channel>
          <Channel>rt-hd</Channel>
        </Channels>
      </Parameters>
    </Grabber>-->
    <!--<Grabber path="sky.it.dll" channelPrefix="sky.it_">
      <Parameters>                   
        <Channels>
          <Channel>bloomberg_</Channel>
          <Channel>cnbc</Channel>
          <Channel>france_24_english__</Channel>
          <Channel>cnn_intl</Channel>
	   <Channel>russia_today</Channel>
	   <Channel>supertennis_hd</Channel>
	   <Channel>i24news</Channel>
   	   <Channel>al_jazeera_international_</Channel>
          <Channel>rt_doc_hd</Channel>          
        </Channels>
      </Parameters>
    </Grabber>-->
    <Grabber path="hot.net.il.dll" channelPrefix="hot.net.il_">
      <Parameters>
        <StartDate>0</StartDate>
        <EndDate>2</EndDate>
        <ExtraChannels>
          <Channel ID="530">National Geographic Wild</Channel>
          <Channel ID="531">National Geographic</Channel>
          <Channel ID="742">Discovery Science</Channel>
        </ExtraChannels>
      </Parameters>
    </Grabber>
    <!--<Grabber path="Sport5.co.il.dll" channelPrefix="sport5.co.il_"/>-->
  </Grabbers>
</Config>

