<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Logger Type="File">    
    <Parameters>
      <Filename>e:\temp\t.log</Filename>
    </Parameters>
  </Logger>
  <HaltOnGrabberError>false</HaltOnGrabberError>
  <TranslatorCache Type="File" OutputFile="TranslationCache.txt"/>
  <Output>
    <Path>e:\temp\t.xml</Path>
  </Output>  
  <Grabbers>
    <!--<Grabber path="Israel.Rashut2.Org.il.dll" channelPrefix="Rashut2">
      <Parameters>        
        <StartDate>-1</StartDate>
        <EndDate>14</EndDate>
        <Channels>
          <Channel>Channel2</Channel>
          <Channel>Channel10</Channel>
        </Channels>
      </Parameters>  
    </Grabber>-->
    <!--<Grabber path="CyfrowyPolsat.pl.dll" channelPrefix="CyfrowyPolsat_">
      <Translate From="Polish" To="English"/>      
      <Parameters>                -->
        <!--<Channels>
          <Channel>arte_hd</Channel>
          <Channel>tve</Channel>
        </Channels>-->
      <!--</Parameters>  
    </Grabber>-->
    <Grabber path="sky.it.dll" channelPrefix="sky.it_">
      <Translate From="Italian" To="English"/>      
      <!--<Parameters>             
        <Channels>
          <Channel>bloomberg_</Channel>
          <Channel>cnbc</Channel>
        </Channels>
      </Parameters>-->  
    </Grabber>
    <!--<Grabber path="BBC.World.News.dll"/>-->
    <!--<Grabber path="jn1.dll"/>-->
    <!--<Grabber path="AlJazeera.Sports.dll" channelPrefix="AJS_"/>-->  
  </Grabbers>
</Config>
